<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title> Expenses </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <!-- toggles menu to close once any of these links is clicked on -->
          <ion-item lines="none" routerLink="./trips/tabs/all-trips/">
            <ion-icon name="earth-outline" slot="start"></ion-icon>
            <ion-label>All Trips</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="./trips/tabs/recipts/">
            <ion-icon name="barcode-outline" slot="start"></ion-icon>
            <ion-label>All Receipts</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
