<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/places/tabs/recipts']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Receipt</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateReceipt()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail slot="start">
    <ion-img src="{{ receiptToEdit[0].image }}"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h5>{{receiptToEdit[0].timestamp | date: 'dd/MM/yyyy'}}</h5>
    <p class="price">£{{ receiptToEdit[0].price }}</p>
  </ion-label>
</ion-content>
